.field
  = f.label :firstname
  %br/
  = f.text_field :firstname

.field
  = f.label :lastname
  %br/
  = f.text_field :lastname

.field
  = f.label :phone
  %br/
  = f.text_field :phone 

.field
  = f.label :address1
  %br/
  = f.text_field :address1

.field
  = f.label :address2
  %br/
  = f.text_field :address2

.field
  = f.label :city
  %br/
  = f.text_field :city

.field
  = f.label :zipcode
  %br/
  = f.text_field :zipcode

.field
  = f.hidden_field :billing_address_for_id

.field
  = f.hidden_field :shipping_address_for_id

.field
  = f.label(:country_id)
  %br/
  = f.select(:country_id, options_for_select(Country.all.map {|country| [country.name, country.id]}, kountry))
  %br/
  %br/

  .actions
    = f.submit "SAVE"