.form
  .form-group
    .field
      = f.text_field :firstname, placeholder: t("addresses.firstname"), class: "form-control"
    %br/

    .field
      = f.text_field :lastname, placeholder: t("addresses.lastname"), class: "form-control"
    %br/

    .field
      = f.text_field :phone, placeholder: t("addresses.phone"), class: "form-control"
    %br/

  .field
    = f.text_field :address1, placeholder: t("addresses.address1"), class: "form-control"
  %br/

  .field
    = f.text_field :address2, placeholder: t("addresses.address2"), class: "form-control"
  %br/

  .field
    = f.text_field :city, placeholder: t("addresses.city"), class: "form-control"
  %br/

  .field
    = f.text_field :zipcode, placeholder: t("addresses.zipcode"), class: "form-control"
  %br/

  .field
    = f.hidden_field :billing_address_for_id

  .field
    = f.hidden_field :shipping_address_for_id

  .field
    = f.select(:country_id, options_for_select(Country.all.map {|country| [country.name, country.id]}, kountry), {}, {class: "form-control"})
    %br/
    %br/

    .actions
      = f.submit t("settings_page.save"), class: "btn btn-warning"