.form
  .form-group
    .field
      = f.text_field :firstname, placeholder: 'Firstname', class: "form-control"
    %br/

    .field
      = f.text_field :lastname, placeholder: 'Lastname', class: "form-control"
    %br/

    .field
      = f.text_field :phone, placeholder: 'Phone', class: "form-control"
    %br/

  .field
    = f.text_field :address1, placeholder: 'Address1', class: "form-control"
  %br/

  .field
    = f.text_field :address2, placeholder: 'Address2', class: "form-control"
  %br/

  .field
    = f.text_field :city, placeholder: 'City', class: "form-control"
  %br/

  .field
    = f.text_field :zipcode, placeholder: 'Zipcode', class: "form-control"
  %br/

  .field
    = f.hidden_field :billing_address_for_id

  .field
    = f.hidden_field :shipping_address_for_id

  .field
    = f.select(:country_id, options_for_select(Country.all.map {|country| [country.name, country.id]}, kountry), {}, {class: "form-control"})
    %br/
    %br/

    .actions
      = f.submit "SAVE", class: "btn btn-warning"