.row-fluid
  .col-md-10.col-md-offset-2
    %h3 Settings

.row-fluid
  .col-md-3.col-md-offset-2
    %h4 BILLING ADDRESS
    .billing_address_form
      - if @billing_address
        = form_for(@billing_address, html: { method: :put }) do |bil_addr_f|
          = render 'form', f: bil_addr_f, kountry: @billing_address.try(:country_id)
      - else
        = form_for(@billing_address, html: { method: :post }) do |bil_addr_f|
          = render 'form', f: bil_addr_f, kountry: @billing_address.try(:country_id)
    

  .col-md-3.col-md-offset-1
    .shipping_address_form
      %h4 SHIPPING ADDRESS
      - if @shipping_address
        = form_for(@shipping_address, html: { method: :put }) do |ship_addr_f|
          = render 'form', f: ship_addr_f, kountry: @shipping_address.try(:country_id)
      - else
        = form_for(@shipping_address, html: { method: :post }) do |ship_addr_f|
          = render 'form', f: ship_addr_f, kountry: @shipping_address.try(:country_id)


.row-fluid
  .col-md-3.col-md-offset-2
    .email_form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

        %h4 EMAIL
        - if resource.errors.messages && resource.errors.messages[:email]
          .has-error
            .field
              = f.email_field :email, value: resource.email, class: "form-control"
            %span.help-block
              = "#{resource.errors.messages[:email].uniq.join(', ')}"
            %br/
        - else
          %div
            .field
              = f.email_field :email, value: resource.email, class: "form-control"
            %br/

        .actions
          = f.submit "SAVE", class: "btn btn-warning"
  
  .col-md-3.col-md-offset-1
    .password_form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

        %h4 PASSWORD

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div Currently waiting confirmation for: #{resource.unconfirmed_email}

        - if resource.errors.messages && resource.errors.messages[:current_password]
          .has-error
            .field
              = f.password_field :current_password, placeholder: 'Old password', autocomplete: "off", class: 'form-control'
            %span.help-block
              = "#{resource.errors.messages[:current_password].uniq.join(', ')}"
            %br/
        - else
          %div
            .field
              = f.password_field :current_password, placeholder: 'Old password', autocomplete: "off", class: 'form-control'
            %br/

        - if resource.errors.messages && resource.errors.messages[:password]
          .has-error
            .field
              = f.password_field :password, autocomplete: "off", placeholder: 'New password', class: 'form-control'
            %span.help-block
              = "#{resource.errors.messages[:password].uniq.join(', ')}"
            %br/
        - else
          %div
            .field
              = f.password_field :password, autocomplete: "off", placeholder: 'New password', class: 'form-control'
            %br/

        .actions
          = f.submit "SAVE", class: 'btn btn-warning'

.row-fluid

.row-fluid
  .col-md-10.col-md-offset-2
    %h4 REMOVE ACCOUNT

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f|

      .actions
        = f.submit "PLEASE REMOVE MY ACCOUNT", class: 'btn btn-danger'
        = check_box_tag 'confirm'
        = label_tag nil, 'I understand that all data will be lost', class: 'label label-warning'

