%h3 Settings
%p#notice= notice

%h4 BILLING ADDRESS
- if @billing_address.id
  = form_for(@billing_address, html: { method: :put }) do |bil_addr_f|
    = render 'form', f: bil_addr_f, kountry: @billing_address.try(:country_id)
- else
  = form_for(@billing_address, html: { method: :post }) do |bil_addr_f|
    = render 'form', f: bil_addr_f, kountry: @billing_address.try(:country_id)
  


%h4 SHIPPING ADDRESS
- if @shipping_address.id
  = form_for(@shipping_address, html: { method: :put }) do |ship_addr_f|
    = render 'form', f: ship_addr_f, kountry: @shipping_address.try(:country_id)
- else
  = form_for(@shipping_address, html: { method: :post }) do |ship_addr_f|
    = render 'form', f: ship_addr_f, kountry: @shipping_address.try(:country_id)


= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  %h4 EMAIL

  .field
    = f.label :email
    %br/
    = f.email_field :email
    %br/
    %br/

  .actions
    = f.submit "SAVE"

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  %h4 PASSWORD

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div Currently waiting confirmation for: #{resource.unconfirmed_email}

  .field
    = f.label :current_password, 'Old password'
    %br/
    = f.password_field :current_password, autocomplete: "off"

  .field
    = f.label :password, 'New password'
    %br/
    = f.password_field :password, autocomplete: "off"
    %br/
    %br/

  .actions
    = f.submit "SAVE"


%h4 REMOVE ACCOUNT

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f|
  = devise_error_messages!

  .actions
    %p #{f.submit "PLEASE REMOVE MY ACCOUNT"} #{check_box_tag 'confirm'} #{label_tag 'I understand that all data will be lost'}
    
= link_to "Back", :back
