- flash.each do |name, msg|
  = content_tag :div, msg
/ - if current_page?(new_customer_registration_path)
= link_to image_tag("fb.png", size: "53x64", alt: "Facebook sign up"), customer_omniauth_authorize_path(:facebook)
%p or
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  
  .field
    = f.label :email
    %br
    = f.email_field :email
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"