<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @credit_card.cvv %>
</p>

<p>
  <strong>Expiration month:</strong>
  <%= @credit_card.expiration_month %>
</p>

<p>
  <strong>Expiration year:</strong>
  <%= @credit_card.expiration_year %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @credit_card.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @credit_card.lastname %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
