%tr
  %td= address.contact_name
  %td= address.phone
  %td= address.address1
  %td= address.address2
  %td= address.city
  %td= address.zipcode
  %td= address.country.name
  %td= link_to 'Show', address
  %td= link_to 'Edit', edit_address_path(address)
  %td= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }