<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @rating.rate %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rating.review %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
