- if orders.empty?
  %p NO ORDERS
- else
  %table.table.orders-list
    %thead
      %tr.active
        %th NUMBER
        %th COMPLETED
        %th TOTAL
        %th

    %tbody
      - orders.each do |order|
        %tr
          %td= order.extend(OrderDecorator).id
          %td= "#{order.completed_date || "not completed"}"
          %td= PriceDecorator.new(order.total_price).decorate
          %td= link_to 'View', order