.row-fluid
  .col-md-8.col-md-offset-2
    - @state = Order::STATE_LIST[0]
    %h4= @state.humanize.upcase
    - @order = @orders.find_by(state: @state)
    - if @order
      %table.table
        %thead
          %tr.active
            %th{colspan: '2'} BOOK
            %th PRICE
            %th QTY
            %th TOTAL
            %th

        %tbody
          - @order.order_items.each do |item|
            = render partial: 'checkouts/cart_item', locals: {cart_item: item}
          %tr
            %td{colspan: '2'}
            %td{colspan: '2'}
              .cart-left-col
                = "SUBTOTAL: "
            %td.cart-right-col
              = cool_price(@order.send(:update_subtotal))
      = link_to 'GO TO CART', order_items_path, class: 'btn btn-warning'
      %br/
    - else
      %p NO ORDERS

    - Order::STATE_LIST.drop(1).each do |state|
      .row-fluid
        %br/
        %h4= state.humanize.upcase
        - @actual_orders = @orders.where(state: state)
        = render partial: 'orders_list', locals: {orders: @actual_orders}