.row-fluid
  .col-md-8.col-md-offset-2
    - @state = Order::STATE_LIST[0]
    %h4= t("orders_page.#{@state}")
    - @order = current_order
    - if @order
      %table.table
        %thead
          %tr.active
            %th{colspan: '2'}
              = t("checkout.items.book")
            %th= t("checkout.items.price")
            %th.nowrap
              = t("checkout.items.qty")
            %th= t("checkout.items.total")
            %th

        %tbody
          - @order.order_items.each do |item|
            = render partial: 'checkouts/cart_item', locals: {cart_item: item}
          %tr
            %td{colspan: '2'}
            %td{colspan: '2'}
              .cart-left-col
                = "#{t "checkout.order.subtotal"}: "
            %td.cart-right-col
              = PriceDecorator.new(@order.send(:update_subtotal)).decorate
      = link_to t("checkout.to_cart"), order_items_path, class: 'btn btn-warning'
      %br/
    - else
      %p= t("orders_page.no_orders")

    - Order::STATE_LIST.drop(1).each do |state|
      .row-fluid
        %br/
        %h4= t("orders_page.#{state}")
        - @actual_orders = @orders.where(state: state)
        = render partial: 'orders_list', locals: {orders: @actual_orders}