.row-fluid
  .col-md-8.col-md-offset-2
    .row
      .col-md-4
        %table
          %tbody
            %tr
              %td
                %h4= "Order #{@order.extend(OrderDecorator).id}"
              %td
                %p= "(#{@order.state.humanize})"

    %table.table
      %thead
        %tr.active
          %th{colspan: '2'} BOOK
          %th PRICE
          %th QTY
          %th TOTAL

      %tbody
        - @order.order_items.each do |item|
          = render partial: 'checkouts/cart_item', locals: {cart_item: item}
        = render partial: "checkouts/order_summary", locals: {item: @order}