.row-fluid
  .col-md-8.col-md-offset-2
    .row
      .col-md-6
        %table
          %tbody
            %tr
              %td
                %h4= "#{t :ordr} #{@order.extend(OrderDecorator).id}"
              %td
                %p= "(#{t("orders_page.#{@order.state}")})"

    %table.table
      %thead
        %tr.active
          %th{colspan: '2'}
            = t("checkout.items.book")
          %th= t("checkout.items.price")
          %th.nowrap
              = t("checkout.items.qty")
          %th= t("checkout.items.total")

      %tbody
        - @order.order_items.each do |item|
          = render partial: 'checkouts/cart_item', locals: {cart_item: item}
        = render partial: "checkouts/order_summary", locals: {item: @order}