- if rating.state == 'approved'
  %tr.active
    %td.small
      %span.stars= "#{(rating.rate / 2.0)}"
      = " #{t :by} #{rating.customer.send(:full_name)}, #{DateDecorator.new(rating.updated_at).decorate}"
  %tr
    %td
      = rating.review.to_s