- if rating.state == 'approved'
  %p #{rating.rate} by #{rating.customer.send(:full_name)} #{rating.updated_at}
  %p
    = truncate(rating.review.to_s, length: 100, separator: ' ', omission: '')
    = link_to "...", rating_path(rating)
%br/