%p{:id => "notice"}= notice

%aside
  %h1 SHOP BY CATEGORIES

  %table
    %tbody
      - @categories.each do |category|
        %tr
          %td= link_to "#{category.title}", category
  %br

%h1 Shop
    
= render @books
= paginate @books

