%p{:id => "notice"}= notice

%h1 #{@book.title} by #{[@book.author.firstname, @book.author.lastname].join(' ')}

%p
  = form_tag(controller: 'order_items', action: 'interact_with_cookies', method: :post) do
    = @book.price
    = hidden_field_tag 'book_id', @book.id
    = number_field_tag 'quantity', '1', in: 1..@book.books_in_stock, id: "book_quantity" 
    = submit_tag "Add to Cart", id: "add_to_cart"

%p
  = @book.description

%p
  %strong Reviews

= link_to 'Add review for this book', new_book_rating_path(@book)

= render partial: "books/rating", collection: @book.ratings
