%p{:id => "notice"}= notice

%p
  %strong Title:
  = @book.title

%p
  %strong Author:
  = [@book.author.firstname, @book.author.lastname].join(' ')

%p
  %strong Description:
  = @book.description

%p
  %strong Price:
  = @book.price

%p
  %strong Books in stock:
  - if @book.books_in_stock > 0
    = @book.books_in_stock
  - else
    Out of stock  

= link_to 'Add review', new_book_rating_path(@book) |
= link_to 'Back', books_path

%p
  %strong Reviews:
%table
  %thead
    %tr
      %th Rate
      %th Review
      %th Customer
      %th{:colspan => "3"}
    
  %tbody
    = render partial: "books/rating", collection: @book.ratings
