.row-fluid
  .col-md-12.col-md-offset-1
    %h4 
      = "#{@book.title} by "
      = link_to(@book.author.full_name, author_path(@book.author))

.row-fluid
  .col-md-3.col-md-offset-1
    .image
      = image_tag @book.images

  .col-md-7
    %p
      = form_tag(controller: 'order_items', action: 'create', method: :post) do
        .form-inline
          .col-md-4
            %h4= cool_price @book.price
          .col-md-4.col-md-offset-4
            .book-form-right
              = number_field_tag 'quantity', '1', in: 1..@book.books_in_stock, id: "book_quantity", class: 'form-control' 
              = hidden_field_tag 'book_id', @book.id
              = submit_tag "Add to Cart", id: "add_to_cart", class: 'btn btn-warning'

    %p= @book.description

.row-fluid
  .col-md-10.col-md-offset-1
    .row
      .col-md-1
        %h4 Reviews
      .col-md-2
        = link_to 'Add review for this book', new_book_rating_path(@book), class: 'btn btn-warning'
    .row
      .col-md-12
        %table.table
          %body
            = render partial: "books/rating", collection: @book.ratings
