%p= "SUBTOTAL: #{cool_price order.subtotal}"
%p= "DISCOUNT: #{order.coupon ? order.coupon.discount : 0}%"
%p= "SHIPPING: #{cool_price order.shipping_price}"
%p= "TOTAL: #{cool_price order.total_price}"