= render layout: 'step' do
  
  .row-fluid
    .col-md-3
      %h4 SHIPPING METHOD
      = form_for(@checkout, url: wizard_path, html: { method: :put }) do |checkout|
        = checkout.fields_for(:model, @checkout.model) do |model|
          - @current_method = @checkout.model.shipping_method
          
          - Order::SHIPPING_METHOD_LIST.each do |method|
            = render partial: 'shipping_method_field', locals: {model: model, method: method, current_method: @current_method, checkout: @checkout}
          
        .actions
          = checkout.submit "SAVE AND CONTINUE", class: 'btn btn-warning'

    .col-md-3.col-md-offset-5
      %h4 ORDER SUMMARY
      %table
        %body
          = render partial: "order_summary", locals: {item: @checkout.model}