<% if @address.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

    <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :contact_name %><br>
  <%= f.text_field :contact_name %>
</div>
<div class="field">
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :address1 %><br>
  <%= f.text_field :address1 %>
</div>
<div class="field">
  <%= f.label :address2 %><br>
  <%= f.text_field :address2 %>
</div>
<div class="field">
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :zipcode %><br>
  <%= f.text_field :zipcode %>
</div>
<div class="field">
  <%= f.label(:country_id) %><br>
    <%= f.select(:country_id, options_for_select(Country.all.map {|country| [country.name, country.id]}, @country_id)) %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
