- if @address.errors.any?
  #error_explanation
    %h2
      = pluralize(@address.errors.count, "error")
      prohibited this address from being saved:
    %ul
      - @address.errors.full_messages.each do |message|
        %li= message

.field
  = f.label :contact_name 
  %br/
  = f.text_field :contact_name

.field
  = f.label :phone
  %br/
  = f.text_field :phone

.field
  = f.label :address1
  %br/
  = f.text_field :address1

.field
  = f.label :address2
  %br/
  = f.text_field :address2

.field
  = f.label :city
  %br/
  = f.text_field :city

.field
  = f.label :zipcode
  %br/
  = f.text_field :zipcode

.field
  = f.label(:country_id)
  %br/
  = f.select(:country_id, options_for_select(Country.all.map {|country| [country.name, country.id]}, @address.country_id))

.actions
  = f.submit 

