%p#notice= notice

%p
  %strong Firstname:
  = @address.firstname

%p
  %strong Lastname:
  = @address.lastname

%p
  %strong Phone:
  = @address.phone

%p
  %strong Address1:
  = @address.address1

%p
  %strong Address2:
  = @address.address2

%p
  %strong City:
  = @address.city

%p
  %strong Zipcode:
  = @address.zipcode

%p
  %strong> Country:
  = @address.country.name

= link_to 'Edit', edit_address_path(@address)
|
= link_to 'Back', customer_addresses_path(current_customer) 
