<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @address.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', customer_addresses_path(Customer.find(@address.customer_id)) %>
