%table.table
  %thead
    %tr.active
      %th{colspan: '2'}
        = t("checkout.items.book")
      %th= t("checkout.items.price")
      %th.nowrap
        = t("checkout.items.qty")
      %th= t("checkout.items.total")
      %th
    
  %tbody  
    = render order.order_items
    %tr
      %td{colspan: '2'}
      %td{colspan: '2'}
        .cart-left-col
          = "#{t("checkout.order.subtotal")}: "
      %td.cart-right-col
        = PriceDecorator.new(order.send(:update_subtotal)).decorate

.row
  .col-md-6
    = link_to t("checkout.continue_shopping"), books_path, class: 'btn btn-warning'
    - if current_order
      = link_to t("checkout.empty_cart"), order, method: :delete, data: { confirm: t(:confirm) }, class: 'btn btn-danger'
    - else
      = link_to t("checkout.empty_cart"), url_for(controller: 'orders', action: 'destroy_cookies'),  method: :delete, data: { confirm: t(:confirm) },class: 'btn btn-danger'
  .col-md-2.col-md-offset-4.col-righted
    = submit_tag t("checkout.update_cart"), class: 'btn btn-warning'