%tr
  %td= image_tag order_item.book.images, size: '30x40'
  %td= link_to "#{order_item.book.title}", order_item.book
  %td= order_item.book.price
  %td 
    = number_field_tag 'quantity', order_item.quantity, min: 1, id: "book_#{order_item.book_id}_quantity"
    = hidden_field_tag "book_#{order_item.book_id}_id"
  %td= order_item.price
  %td
    = form_tag(controller: 'order_items', action: 'remove_from_cart', pop: true, method: :post) do
      = hidden_field_tag 'book_id', order_item.book_id
      = submit_tag "X", id: "book_#{order_item.book_id}_remove"