%h1 Shopping cart

= form_tag controller: 'order_items', action: 'update_cart', method: :post do 

  %table
    %thead
      %tr
        %th{colspan: '2'} BOOK
        %th PRICE
        %th QTY
        %th TOTAL
      
    %tbody  
      = render @order.order_items

  %p= "SUBTOTAL: #{cool_price @order.send(:update_subtotal)}"

  = link_to 'EMPTY CART', order_items_empty_cart_path, method: :delete, data: { confirm: "Are you sure?" } 
  = link_to 'CONTINUE SHOPPING', books_path
  = submit_tag 'UPDATE'

= form_tag controller: "checkouts", action: "create", method: :post do
  - @order.order_items.each do |item|
    = render partial: "hidden_order_item", locals: {order_item: item}
  = text_field_tag "order[coupon_id]", nil, placeholder: 'Coupon code'
  = submit_tag 'CHECKOUT'


  

  


