!!! XML
!!!
%html
  %head
    %title LamaZone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    .container-fluid
      .row-fluid
        .col-md-12
          %p#notice= notice
          - if flash[:errors] && flash[:errors].any?
            #error_explanation
              %h2
                = pluralize(flash[:errors].count, "error")
                prohibited this address from being saved:
              %ul
                - flash[:errors].each do |key, values|
                  - values.each do |value|
                    %li= "#{key.capitalize} #{value}"
          = yield
    %p
    = params.inspect if Rails.env == 'development'
    %br/
    = cookies[:order_items].inspect if Rails.env == 'development'